body {
    background-color: rgb(200, 201, 201);
}

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

#nav {
    background-color:rgb(24, 41, 192);
    font-size: 1.0em;
}

#intro {
    padding-left: 15em;
    padding-right: 15em;
    font-weight: 450;
    border-bottom: 3px solid rgb(24, 41, 192);
    border-top: 3px solid rgb(24, 41, 192);
    padding: 15px;
}

.field {
    padding-left: 35em;
    padding-right: 7em;
}

.history {
    margin-top: 10%;
    display: flex;
    position: absolute;
    left: 10%;
    width: 200px;
    height: fit-content;
    border: 3px solid green;
    cursor: pointer;
}

.recent-search {
    font-size: 120%;
    font-weight: bold;
    padding-left: 29px;
    
}
    
.center-column {
    padding-bottom: 21%;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    border: 3px solid green;
}

.hidden {
    display: hidden;
}

.visible {
    display: visible;
}
.content{
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 2rem;
}