html {
    background-color:  rgb(200, 201, 201);
}
body {
    background-color: rgb(200, 201, 201);
}

#text {
    background-color:rgb(24, 41, 192);
    font-size: 1.0em;
}

.recipes {
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

#bio {
    padding-left: 20em;
    padding-right: 20em;
    font-weight: 450;
    border-bottom: 3px solid rgb(24, 41, 192);
    padding: 15px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.125;
}

