html {
    background-color:  rgb(200, 201, 201);
}
body {
    background-color: rgb(200, 201, 201);
}

#text {
    background-color:rgb(24, 41, 192);
    font-size: 1.0em;
}

.recipes {
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

#bio {
    padding-left: 20em;
    padding-right: 20em;
    font-weight: 450;
    border-bottom: 3px solid rgb(24, 41, 192);
    padding: 15px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.125;
}

.meal {
    margin-left: 45%;
    margin-top: 3%;
    font-weight: bold;
    font-size: 200%;
    justify-content: center;
}
.card {
   margin-top: 2%;
   margin-left: 45%;
   margin-right: 40%;
   padding-left: 4em;
   border-radius: 4px;
   justify-content: center;

}

.chart {
    padding-bottom: 40%;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    border: 3px solid rgb(43, 188, 43);
    background-color: rgb(43, 188, 43);
}
 

